body{
    background: linear-gradient(45deg, black, rgb(49, 49, 49));
    background-size: 100% 150%;
    color: white;
    font-family: 'Dosis', sans-serif;
}
.header{
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    margin: .5rem;
    font-size: 2rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    width: 100%;
    justify-content: space-around;
    height: 30%;
}
img{
   max-height: 60vh;
   margin: 2rem;
   border-radius: 1rem;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(-45deg, black,rgb(255, 52, 52));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    transform: scale(.5);
    pointer-events: none;
    transition: 500ms;
    border-radius: 1rem;
}
.modal.active{
    opacity: 1;
    transform: scale(1);
    border-radius: 0;
    pointer-events: all;
}
.modal{
    display: flex;
    justify-content: center;
}
.modal img{
    height: 100vh;
    max-height: initial;
    margin: 0;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
p.nevyrazny{
    color: rgb(109, 109, 109);
    text-align: center;
}