<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snejp.cz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    {% block content %}{% endblock %}
    <p class="nevyrazny">verze 0.5, Vytvořil Nowinar.</p>
    <script src="/static/script.js"></script>
</body>
</html>