{% extends "base.html" %}
{% block content %}
<p class="header">snejp.cz</p>
<div class="content">
    {% for i in dir%}
    <a onclick="openimg('{{i}}')"><img src="/static/snejp/{{i}}"></a>
    {% endfor %}
</div>
<div id="modal" class="modal" onclick="openimg('')"></div>
{% endblock %}